In [2]:
#LOADING THE MODEL
from tensorflow.keras.models import load_model
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [5]:
#LOADING THE SCALED PICKLE, ENCODED PICKLE
import pickle
with open('sc.pkl','rb') as file:
  sc=pickle.load(file)

with open('le.pkl','rb') as file:
  le=pickle.load(file)

with open('oh.pkl','rb') as file:
  oh=pickle.load(file)

In [7]:
#input data
input_data={'CreditScore':600, 'Geography':'Spain', 'Gender':'Male', 'Age':40, 'Tenure':3, 'Balance':60000, 'NumOfProducts':2, 'HasCrCard':1, 'IsActiveMember':1, 'EstimatedSalary':50000}

In [9]:
#Converting into data frame
import pandas as pd
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Spain,Male,40,3,60000,2,1,1,50000

In [10]:
#ENCODING GENDER
input_df['Gender']=le.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Spain,1,40,3,60000,2,1,1,50000

In [11]:
#ENCODING GEOGRAPHY

geo=oh.transform(input_df[['Geography']])
input_df.drop(['Geography'], axis=1,inplace=True)
input_df[['France','Germany','Spain']]=geo.toarray()
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
0,600,1,40,3,60000,2,1,1,50000,0.0,0.0,1.0

In [12]:
#SCALING THE FEATURES
input_df=sc.transform(input_df)
input_df

array([[-0.52111599,  0.91601335,  0.10961719, -0.68538967, -0.2569057 ,
         0.8095029 ,  0.64259497,  0.9687384 , -0.87203322, -1.01460667,
        -0.5698444 ,  1.74309049]])

In [13]:
#MAKING PREDICTIONS
pred=model.predict(input_df)
pred

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 124ms/step

array([[0.06650545]], dtype=float32)

In [14]:
#PROBABILITY
if pred[0][0] > 0.5:
  print('Customer will leave the bank')
else:
  print('Customer will stay in the bank')

Customer will stay in the bank